button {
    margin-top: 20px;
    width: 200px;
    height: 70px;
    background-color: #619c40;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
}
